@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    color: floralwhite;
}

body {
    margin: 0%;
    background-color: rgb(56, 25, 73);
}

header{
    background-color: rgba(199, 37, 137, 0.877);
    border-bottom: 2px solid lightgray;
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
    margin-top: -5%;
    display: flex;
    float: right;
    flex-direction: row;
}

.navbar ul li a{
    color: whitesmoke;
    text-decoration: none;
    text-align: right;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 30px;
    font-weight: 400;
    transition: .1s;
    position: relative;
}

.navbar ul li a:hover, focus{
    color: black;
}

.navbar ul li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: black;
    transition: all .5s;
}

.navbar ul li a:hover:after{
    width: 100%;
}


.logo{
    width: 76px;
    position: relative;
    left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header h1 a{
    position: absolute;
    top: -25px;
    left: 10px;
    font-size: 15px;
    font-weight: 400;
    color: floralwhite;
    text-decoration: none;
}

.content-left{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-left .textBox{
    position: relative;
    max-width: 660px;
}

.content-left .textBox h2{
    position: relative;
    font-size: 1cm;
    margin-left: 30px;
    margin-top: 23%;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.content-left .textBox h2 span{
    font-size: 2cm;
    margin-left: 0.7%;
    position: relative;
    text-align: left;
}

.content-left .textBox a{
    display: inline-block;
    margin-left: 10%;
    margin-top: 30px;
    padding: 8px 20px;
    background: rgba(199, 37, 137, 0.877);
    color: floralwhite;
    box-shadow: 3px 3px 5px lightgray;
    border-radius: 70px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
}

.content-left .textBox a:hover{
    color: black;
}

.content-left .textBox p{
    margin-left: 5%;
    text-align: left;
}
.content-left .textBox p span{
    font-size: 20px;
    text-align: center;
}

.content-right .image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px
}

.image img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: left 1s;
    display: flex;
}

.image img:hover{
    left: 45%;
}

footer{
    text-align: center;
    position: relative;
    margin-top: 10%;
}