@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    color: whitesmoke;
}

body {
    margin: 0%;
    background-color: rgb(56, 25, 73);
}

header{
    background-color: rgba(199, 37, 137, 0.877);
    border-bottom: 2px solid lightgray;
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
    margin-top: -5%;
    display: flex;
    float: right;
    flex-direction: row;
}

.navbar ul li a{
    color: whitesmoke;
    text-decoration: none;
    text-align: right;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 30px;
    font-weight: 400;
    transition: .1s;
    position: relative;
}

.navbar ul li a:hover, focus{
    color: black;
}

.navbar ul li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: black;
    transition: all .5s;
}

.navbar ul li a:hover:after{
    width: 100%;
}

.logo{
    width: 76px;
    position: relative;
    left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    
}

.profile .content h2{
    font-size: 35px;
    font-weight: 400;
    margin-top: -2%;
    position: absolute;
    left: 15cm;
    text-align: center;
}

.profile .content h2::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 100px;
    background-color: whitesmoke;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.content-left .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: wrap;
    text-align: left;
}

.content-left .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}


.profile .aboutmeInfo .box .text{
    display: flex;
    margin-left: 2%;
    margin-top: 10px;
    font-size: 16px;
    flex-direction: column;
}

.profile .aboutmeInfo .box .text, .Text, .texts{
    font-weight: 400;
}  

.profile .aboutmeInfo .box .text h3{
    margin-top: 90px;
    font-size: 29px;
}

.profile .aboutmeInfo .box .Text h3{
    margin-top: 50px;
    font-size: 29px;
}

.profile .aboutmeInfo .box .texts h3{
    margin-top: 50px;
    font-size: 29px;
}

.profile .aboutmeInfo .box .text h4{
    font-size: 18px;
}

.profile .aboutmeInfo .box .text ul,
.profile .aboutmeInfo .box .texts ul{
    list-style-type: none;

}

.profile .aboutmeInfo .box .icon{
    min-height: 40px;
    height: 40px;
    width: 35px;
    background: rgba(199, 37, 137, 0.877);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 10px;
    font-size: 22px;
}

.content-right .image{
    width: 45%;
    height: 40%;
    display: flex;
    margin-right: -10px;
    position: absolute;
    bottom: 0;
    right: 100px
}

.image img{
    height: 30em;
    width: 20rem;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    transition: left 1s;
    display: flex;
    border-radius: 50%;
    
}

.image img:hover{
    left: 45%;
}